<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!-- dataSource cfgs -->
	<bean id="drds" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
	 <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
	 <property name="url" value="jdbc:mysql://localhost:3306/customerdb"/>
	 <property name="username" value="root"/>
	 <property name="password" value="root"/>
	</bean>
	<!-- DAO class cfgs -->
	<bean id="cusDAO" class="com.demo.dao.CustomerDAOImpl">
	 <constructor-arg name="ds" ref="drds"/>
	</bean>
	<!-- Service class cfgs -->
	<bean id="cusService" class="com.demo.service.CustomerMgmtServiceImpl">
	 <constructor-arg name="dao" ref="cusDAO"/>
	</bean>
	<!-- controller class cfgs -->
	<bean id="controller" class="com.demo.controller.MainController">
	 <constructor-arg name="service" ref="cusService"/>
	</bean>
	
</beans>